@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@font-face {
    font-family: 'Bohemian';
    src: url('fontes/bohemiansoul.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #A67E5B;
    --cor1: #8C5F45;
    --cor2: #2c221b;
    --cor3: #BFB2AA;
    --cor4: #8C4130;
    --cor5: #948989b2;

    --fonte-titulo: 'holtwood-one-sc', serif;
    --fonte-sub-titulos: 'Bohemian', cursive;
    --fonte-padrao: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    font-size: 1em;
    list-style-position: inside;
}

header {
    background-image: linear-gradient(to bottom,var(--cor1),var(--cor2));
    color: var(--cor3);
    min-width: 300px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 3em;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    padding-top: 70px;
    padding-bottom: 35px;
}

nav {
    background-color: var(--cor2);
    padding: 15px;
}

nav > a {
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    margin: 15px;
    margin-left: 0px;
}

nav > a:hover {
    background-color: var(--cor1);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: 0.5s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
}

main h2 {
    background-image: linear-gradient(to bottom,var(--cor0), transparent);
    font-family: var(--fonte-sub-titulos);
    font-size: 2em;
    text-align: center;
    margin: -10px -10px 20px -10px;
    padding: 10px;
}

main h3 {
    font-family: var(--fonte-sub-titulos);
    font-size: 1em;
    text-decoration: underline;
    margin: 20px 0px 20px 0px;
}

main h4 {
    background-color: var(--cor5);
    font-family: var(--fonte-sub-titulos);
    font-size: 1em;
    border-radius: 10px 10px 0px 0px;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

main ul {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-align: justify;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 0px 10px;
}

main ol {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-align: justify;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 20px 10px;
}

main #video {
    background-color: var(--cor2);
    margin: 0px -10px 0px -10px;
    padding: 10px;
    padding-bottom: 65%;
    position: relative;
}

main #video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main img {
    width: 100%;
}

aside {
    background-color: var(--cor3);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.24);
}

aside p {
    text-align: justify;
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

aside strong {
    color: var(--cor4);
}

aside a {
    color: black;
    text-decoration: none;
}

aside a:hover {
    text-decoration: underline;
}

aside ul {
    font-family: var(--fonte-padrao);
    font-size: 1em;
    text-align: justify;
    margin: 20px 0px 20px 0px;
    padding: 0px 0px 20px 10px;
}

footer {
    background-color: #261D17; 
    text-align: center; 
    padding: 10px;
    margin-top: 20px;
}

footer p {
    color: var(--cor3);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: var(--cor3);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}